

.about-section{
  background-image: url(../images/about/about-img.png);
  background-repeat: repeat-x;
  background-size: 100%;

  margin-top: 2rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
}



.header-heading{
  font-weight: 600;
  font-size: 4rem;
}

.header-para{
  padding-top: 2rem;
  font-weight: 600;
  width: 45%;
}


.about-content{
  padding: 4rem 7rem;
  display: flex;
  justify-content: space-between;


}

.content{
  width: 45%;
}

.heading-tertiary{
  font-weight: 600;
  color: #00206B;
  padding-left: 1rem;

}

.content-heading{
  display: flex;

  align-items: center;
  transform: translateX(-5rem);
}

.content-img{
  width: 3.5rem;
  height: 3.5rem;
}


.content-para span{
  font-weight: 600;
  color: black;
  font-size: 1.1rem;
}

.team-section{
  padding: 5rem 7rem;
}

.team-heading{
  width: 55%;
  margin: 0 auto;
  text-align: center;
  font-weight: 700;
  color: #00206B;
}

.team-img{
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.binmile-teams{
  padding-top: 5rem;
  display: flex;
  justify-content: space-between;
}

.team-member{
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  border-radius: 10px;
  box-shadow: 0 0 10px #0000003b;
  position: relative;
  transition: all .2s;
}

.team-member:hover{
  box-shadow: 0 0 3px #0000003b;
}

.team-name{
  font-weight: 600;
  padding-top: 1rem;
}

.team-designation{
  width: 50%;
  text-align: center;
}

.team-linkedin{
  font-size: 2rem;
  color: #9F5321;
  position: absolute;
  top: 5%;
  right: 10%;
}

.team-linkedin:hover{
  color: rgb(160, 97, 55);
}




@media (min-width: 1281px) {
  

}
/*   ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
  .about-section{
    margin-top: 4rem;
    height: 60vh;
  }

  .header-heading{
    transform: translateY(-2rem);
  }

  .about-content{
    padding: 2rem 6rem;
  }

  .content{
    width: 40%;
  }

  .header-para{
    transform: translateY(-2rem);
  }
  .team-section{
    padding: 2rem;
  }

  .team-member{
    min-width: 30%;
  }
  .team-heading{
    width: 70%;
  }
}
/*   ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  

  .about-section{
    height: 40vh;
    margin-top: 3rem;
  }

  .header-heading{
    transform: translateY(-1rem);
  }
  .team-member{
    min-width: 30%;
  }

  .team-section{
    padding: 2rem ;
  }

  .team-img{
    width: 5rem;
    height: 5rem;
  }

  .team-heading{
    width: 70%;
  }
}

@media (min-width: 768px) and (max-width: 920px){
  .header-para{
    transform: translateY(-3rem);
  }
}
/*   ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}


@media (min-width:482px) and (max-width:550px){
  .about-section{
    height: 25vh !important;
  }
}
/*   ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .about-section{
    height: 30vh;
    margin-top: 3rem;
    padding-left: 3rem;
  }

  p{
    font-size: .8rem;
  }

  .header-heading{
 
    font-size: 2rem;
  }

  .header-para{
    padding-top: unset;
    width: 50%;
  }
  
  .binmile-teams{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .team-member{
    min-width: 60%;
    margin-bottom: 2rem;
  }
  
  .team-section{
    padding: 2rem ;
  }

  .team-heading{
    width: 90%;
    font-size: 1.5rem;
  }

  .remove-padding{
    padding-top: unset;
  }

  .about-content{
    flex-direction: column;
    align-items: center;
    padding: 1rem 7rem;
  }

  .content{
    width: 100%;
  }
}
/*   ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .binmile-teams{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p{
    font-size: .8rem;
  }

  .team-section{
    padding: 2rem ;
  }
  .team-member{
    min-width: 80%;
    margin-bottom: 2rem;
  }

  .team-heading{
    width: 100%;
    font-size: 1.2rem;
  }

  .remove-padding{
    padding-top: unset;
  }

  .about-content{
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    padding-left: 5rem;
  }

  .content{
    width: 100%;
  }

  .content-img{
    width: 2rem;
    height: 2rem;
  }

  .heading-tertiary{
    font-size: 1.2rem;
  }

  .content-heading{
    transform: translateX(-3rem);
  }

  .content-para span{
    font-size: 1rem;
  }

  .team-name{
    font-size: 1.2rem;
  }


  .about-section{
    margin-top: 3.5rem;
    height: unset;
    padding-left: 2rem;
  }

  .header-heading{
    font-size: 1.4rem;
    transform: translateY(3rem);
  }
  

  .header-para{
    font-size: .7rem;
    padding-top: 3rem;
    width: 60%;
  }

  .test{
    transform: translateY(-1rem);
  }

}


@media (min-width: 381px) and (max-width:450px){
  .for-testing{
    transform: translateY(-2rem);
  }

  .header-para{
    font-size: .7rem;
  }
}

@media (min-width: 320px) and (max-width: 381px){
  .for-testing{
    transform: translateY(-2rem);
  }

  .header-para{
    font-size: .6rem;
  }
}
