@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
}

.top-logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #4763bc;
  border-radius: 0px 0px 25px 25px;
  padding-top: 2%;
  left: 8%;
  top: 0px;
  height: fit-content;
  z-index: 2;
}

.top-logo img {
  min-height: 10vh;
  width: 60%;
}
.owl-prev,
.owl-next {
  border-radius: 50%;
  background-color: #e5e5e5;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 15vh;
  width: 100%;
  padding-right: 4em;
  z-index: 2;
}

.nav ul {
  margin-top: 1em;
}

.nav li {
  padding: 1em;
  color: white;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #fff;
}

.nav-link:hover {
  transform: translateY(-3px);
}
#navbarSupportedContent1 {
  justify-content: flex-end;
}
.get-started,
.get-in-touch,
.estimate-btn {
  height: 3em;
  width: 14em;
  background-color: white;
  color: #f18e43;
  border: 4px double #f18e43;
  border-radius: 40px;
  transition-duration: 0.5s;
  margin: 1em auto;
  background: transparent
    linear-gradient(285deg, #fddb71 0%, #f0883f 66%, #ee7a37 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}

.static {
  position: static;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.owl-slide-title,
.owl-slide-subtitle {
  color: white;
  margin: 1em 0;
}

.get-started {
  margin-top: 4em;
}

.owl-carousel .owl-slide {
  position: relative;
  height: 100vh;
  top: 0;
}

.owl-nav:first-of-type,
.owl-dots:first-of-type {
  width: 5em;
  margin: 0 auto;
  position: relative;
  top: -8em;
  background-color: #ffffff;
}

.big-line {
  width: 10%;
  height: 0.3em;
  background-color: #052458;
  margin: 0 auto;
}

.owl-two .test-card {
  box-shadow: 3px 6px 20px #00000029;
  border: 1px solid #eaeaea;
  border-radius: 8px;
  padding: 2em;
  margin: 2em auto;
  color: #656565;
}
.card-container {
  margin: 3em auto;
}
.test-card h5 {
  font-weight: bold;
  margin: 1em auto;
}

.test-card p {
  font-size: 1em;
  margin-bottom: 1em;
}

.test-card:not(.center) {
  opacity: 0.5;
}

.test-card img {
  border-right: 1px solid grey;
  display: inline;
}

.test-details {
  display: flex;
  align-items: center;
}

.test-author {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-left: 1em;
}

.services-card {
  text-align: center;
  margin-top: 2em;
  transition-duration: 0.4s;
  height: max-content;
}

.services-card img {
  margin: 2em;
  height: 50%;
}

.services-card h4 {
  font-weight: bold;
  margin: 1em auto;
}

.services-card p {
  font-size: small;
  padding: 1em;
}

.services-card:hover {
  box-shadow: 3px 6px 20px #487ab033;
  border-radius: 12px;
}
.work-slider {
  margin: 3em auto;
}

.work-card {
  width: 22vw;
  height: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent
    linear-gradient(
      180deg,
      #73cbfd 0%,
      #70c5fc 20%,
      #67b7fc 44%,
      #5a9efb 71%,
      #467cfb 99%,
      #467bfb 100%
    )
    0% 0% no-repeat padding-box;
  box-shadow: 3px 6px 20px #00000029;
  border-radius: 8px;
  color: white;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.client-name,
.client-company,
.work-card {
  text-transform: uppercase;
}
.client-name,
.client-company {
  font-weight: bold;
  margin: 0 auto;
}

.client-company {
  color: #ee7a37;
}
#nav-prev,
#nav-next {
  width: 3em;
  height: 3em;
  border-radius: 90%;
  box-shadow: 0px 1.5px 3px #1f3fa2e6;
  border: 1px solid #1f3fa233;
  background-color: white;
  text-align: center;
  margin: 1.5em;
}

.owl-nav img {
  position: relative;
  top: 10%;
  left: -5%;
  height: 1.2em;
  width: 1.2em;
  margin: 0 auto;
}

.main-footer {
  background-color: #6dbffc;
  background-image: url("file:///C:/xampp/htdocs/binmile/assets/images/World-Map-Free-PNG-Image.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bottom-footer > .container {
  margin-top: 0;
}
.navbar-toggler {
  color: #072a98;
  background: rgba(255, 255, 255, 0.7);
  width: 2.5em;
  height: 2em;
  position: relative;
  bottom: 0.5em;
  left: 1em;
}

.arrow-section {
  display: flex;
  justify-content: space-between;
  margin: 4em;
  flex-wrap: wrap;
}

.main-footer .row > div:nth-child(2) {
  margin-left: 4em;
}
.hero-slider-image {
  display: flex;
  position: absolute;
  top: 15%;
  right: 12%;
}
#hero-slide-image-1 {
  width: 30vw;
  height: 35vw;
}
#hero-slide-image-2 {
  width: 33vw;
  height: 33vw;
  position: relative;
  top: 5%;
  animation: float 3s infinite ease;
}
#hero-slide-image-3 {
  width: 40vw;
  position: relative;
  right: -15%;
}
#floating-image-2 {
  width: 12vw;
  height: 25vw;
  position: relative;
  left: 70%;
  top: 5%;
  z-index: 100;
  animation: 3s float infinite ease;
}
#hero-slide-image-4 {
  width: 35vw;
  position: relative;
  top: 5%;
  animation: 3s float infinite ease;
}
.hero-slider-image > .image-float {
  position: absolute;
  height: 20vw;
  width: 24vh !important;
  right: 30%;
  top: 5%;
  animation: float 3s infinite ease;
}
.image-float-2 {
  position: absolute;
  top: 5%;
  animation: float 3s infinite ease;
}
@keyframes float {
  50% {
    top: 3%;
  }
  100% {
    top: 5%;
  }
}
#navbarSupportedContent {
  justify-content: flex-end;
}

.bottom-nav li:nth-child(4) {
  margin-left: auto;
  padding: 0;
}

.footer__nav{
  display: flex;
  flex: 50%;
}

@media (max-width: 1000px) {
  .owl-two .test-card {
    width: 90vw !important;
    margin: 5vw !important;
  }
  .main-footer .row > div:nth-child(2) {
    margin-left: 0;
  }
  #navbarSupportedContent {
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 900;
    text-align: center;
  }

  .nav-link:link, .nav-link:visited{
    color: black;
  }
  #navbarSupportedContent li {
    border-bottom: 1px solid grey;
    color: #292929;
  }
  .navbar-toggler {
    z-index: 999;
  }
  .hero-text {
    text-align: center;
    position: relative;
    width: 100%;
    top: 100%;
  }
  .arrow-section {
    text-align: center;
  }
  .work-card {
    width: 70vw;
  }
  .main-footer .container > div {
    width: fit-content;
    margin: 0 auto;
  }
  .bottom-footer {
    text-align: center;
  }
  .main-footer {
    text-align: center;
  }
  .main-footer .line {
    margin: 0 auto;
  }
  .bottom-nav li:nth-child(4) {
    margin-left: 0;
  }
}

footer {
  background-color: #6dbffc;
  background-image: url("file:///C:/xampp/htdocs/binmile/assets/images/World-Map-Free-PNG-Image.png");
}

.card:nth-child(2) {
  box-shadow: 3px 6px 20px #487ab033;
}

.top-footer > .container {
  border-bottom: 1px solid #062772;
}

.bold {
  font-weight: bold;
}

.main-footer {
  color: #062772;
}

.line {
  width: 50%;
  height: 0.3em;
  background-color: #052458;
  border-radius: 2em;
}

footer {
  padding-top: 1em;
}

.footer-col {
  padding: 0;
}

.footer-col ul {
  list-style-type: none;
  margin-top: 1em;
}

.footer-col li {
  margin-bottom: 1.5em;
}

.bottom-footer {
  background: #062772 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-size: 1.2em;
}

.bottom-footer .container {
  margin-top: 1em;
}

.bottom-footer nav {
  padding: 1em 0;
}

.bottom-nav {
  padding: 0;
  width: 100%;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottom-nav li {
  padding-right: 2em;
}

/* @media (max-width: 450px) {
  .owl-slide-text {
    position: absolute;
    bottom: 0;
  }
  .hero-slider-image {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
  }
  .image-float {
    margin: 0 auto;
  }
  .line {
    margin: 0 auto;
  }
} */

/*   ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {
}
/*   ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {
  .footer__img {
    width: 14rem;
  }
  .footer__info-content{
    flex: 100%;
    max-width: 100%;
  }
  .footer__nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer__link{
    font-size: .8rem;
  }
  .bold{
    font-size: 1rem;
  }

  .bottom-nav{
    font-size: 1rem;
  }
  .nav{
    height: 0;
  }
  .top-logo{
    padding-top: 0;
  }
  .hero-slider-image{
    top: 30%;
  }

  .owl-two .test-card{
    margin-left: 4rem !important;
  }

  .services-card img{
    width: 7rem;
    height: 7rem;
  }
}
/*   ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/*   ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {
  .footer__img {
    width: 14rem;
  }
  .footer__info-content{
    flex: 100%;
    max-width: 100%;
  }
  .footer__nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer__link{
    font-size: .8rem;
  }
  .bold{
    font-size: 1rem;
  }
  .bottom-nav{
    font-size: 1rem;
  }
  .nav{
    height: 0;
  }
  .top-logo{
    padding-top: 0;
  }
  .owl-two .test-card{
    margin-left: 3.3rem !important;
  }
  .services-card img{
    width: 7rem;
    height: 7rem;
  }
  .owl-slide-text {
    position: absolute;
    bottom: 0;
    left: 3rem;
    width: 80%;
  }
  .hero-slider-image{
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  .image-float{
    max-width: 20vw !important;
    height: 20vh !important;
    right: 15% !important;
  }
  #hero-slide-image-3{
    right: 20%;
  }
  
  #floating-image-2{
    left: 55%;
  }

  #hero-slide-image-1, #hero-slide-image-2, #hero-slide-image-3, #hero-slide-image-4{
    width: 60vw;
    height: 60vw;
    margin: 0 auto;
  }
  .work-card{
    margin: 0 auto;
  }
  .owl-stage{
    width: 3000px !important;
    margin: 0 auto;
    margin-right: 0 !important;
  }
}
/*   ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {
  .footer__img {
    max-width: 13rem !important;
  }
  .footer__info-content{
    flex: 100%;
    max-width: 100%;
  }
  .footer__nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .footer__link{
    font-size: .8rem;
  }
  .bold{
    font-size: .9rem;
  }
  .bottom-nav{
    font-size: .8rem;
    display: flex;
    flex-direction: row;
    
    
  }

  .copyright{
    position: absolute;
    top: 70%;
    left: 25%;
  }
  
  .bottom-nav li{
    flex: 40%;
  }
  .nav{
    height: 0;
  }
  .top-logo{
    padding-top: 0;
  }
  .owl-two .test-card{
    margin: 0 auto;
  }
  .services-card img{
    width: 7rem;
    height: 7rem;
  }
  .owl-slide-text {
    position: absolute;
    bottom: 0;
    left: 3rem;
    width: 80%;
    font-size: .7rem;
    text-align: center;
  }
  .hero-slider-image{
    top: 40%;
    left: 43%;
    transform: translate(-50%, -50%);
  }
  .image-float{
    max-width: 10vw !important;
    height: 20vh !important;
    right: 30% !important;
  }
  #hero-slide-image-3{
    right: 20%;
  }
  
  #floating-image-2{
    left: 55%;
  }

  #hero-slide-image-1, #hero-slide-image-2, #hero-slide-image-3, #hero-slide-image-4{
    width: 60vw;
    height: 60vw;
    margin: 0 auto;
  }

  .work-card{
    margin-left: 3.3rem;
  }
  #hero-slide-image-1{
    width: 60vw;
    height: 60vw;
    top: 30%
  }
  .top-logo{
    width: 40rem;
    height: 5rem;
  }
  .header__logo{
    width: 10rem !important;
    min-height: 3rem !important;

  }
  .bottom-nav{
    display: flex;
  }

  .testimonial__heading{
    font-size: 1.3rem !important;
    font-weight: normal !important;
  } 

  .owl-stage{
    width: 3000px !important;
 
  }

  .owl-two .test-card{
    margin: 1.7rem !important;
  }
 

  .owl-slide-title{
    font-size: 1.2rem;
  }
  .owl-slide-subtitle{
    font-size: .7rem;
  }
  .test-image{
    width: 10rem !important;
  }
}
