@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans";
}
html,
body {
  height: 100%;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 10vh;
  width: 100%;
  background: transparent
    radial-gradient(
      closest-side at 74% 44%,
      #0a30c8 0%,
      #092eb9 18%,
      #072a94 51%,
      #052458 96%,
      #052454 100%
    )
    0% 0% no-repeat padding-box;
  color: white;
  padding-right: 4em;
}

.top-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #4763bc;
  border-radius: 0px 0px 25px 25px;
  opacity: 1;
  font-family: "Open Sans";
  letter-spacing: 0.4px;
  padding: 1em 1.4em;
  height: 6em;
  left: 6em;
  width: 18em;
}

.top-logo h3 {
  font-weight: 600;
}

.active {
  color: #ee7a37;
  border-bottom: 3px solid #ee7a37;
}

.container {
  margin-top: 4em;
}

main .navbar {
  padding: 0;
  margin-bottom: 1em;
}

main .navbar-nav, .scrollmenu {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1em;
  border-bottom: 2px solid #ddd;
  font-weight: 600;
}
.scrollmenu{
  border-bottom: none;
}

.top-search {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 2px solid #707070;
  border-radius: 0.5em;
  opacity: 0.3;
  padding: 0.4em;
  padding-left: 2em;
  width: 14em;
  margin-left: 4em;
}

.card {
  padding: 0;
  border-radius: 0.7em;
  transition-duration: 0.5s;
}
.card-body {
  padding-top: 0;
}

.card-img-top {
  border-radius: 0.7em 0.7em 0 0;
}

.card-title {
  font-weight: 700;
}

.pre-article,
.post-article,
.blog-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.3em 0;
}

.category-button {
  background: #3d6df0 0% 0% no-repeat padding-box;
  border-radius: 4px;
  padding: 0.2em 1.5em;
  color: white;
}

.read-time,
.views,
.blog-date {
  font-size: 0.8em;
  font-style: italic;
  color: #313131;
}

.read-more {
  border: 1px solid #3d6df0;
  background-color: white;
  border-radius: 4px;
  padding: 0.4em 2em;
  letter-spacing: 0.18px;
  color: #3d6df0;
  transition-duration: 0.5s;
}

.article-link:link,
.article-link:visited {
  text-decoration: none;
}

.article-link:hover {
  color: #fff;
}

.read-more:hover {
  background-color: #3d6df0;
  color: white;
}

.post-article {
  border-bottom: 1px solid lightgray;
  padding-bottom: 2em;
}

.load-more-btn,
.get-in-touch,
.estimate-btn {
  height: 3em;
  width: 14em;
  background-color: white;
  color: #f18e43;
  border: 4px double #f18e43;
  border-radius: 40px;
  transition-duration: 0.5s;
}

.get-in-touch {
  margin: 1em auto;
}

.get-in-touch,
.estimate-btn {
  background: transparent
    linear-gradient(285deg, #fddb71 0%, #f0883f 66%, #ee7a37 100%) 0% 0%
    no-repeat padding-box;
  color: white;
}

footer {
  background-color: #6dbffc;
  background-image: url("file:///C:/xampp/htdocs/binmile/assets/images/World-Map-Free-PNG-Image.png");
}

.card:nth-child(2) {
  box-shadow: 3px 6px 20px #487ab033;
}

.top-footer > .container {
  border-bottom: 1px solid #062772;
}

.bold {
  font-weight: bold;
}

.main-footer {
  color: #062772;
}

.line {
  width: 50%;
  height: 0.3em;
  background-color: #052458;
  border-radius: 2em;
}

footer {
  padding-top: 1em;
}

.footer-col {
  padding: 0;
}

.footer-col ul {
  list-style-type: none;
  margin-top: 1em;
}

.footer-col li {
  margin-bottom: 1.5em;
}

.bottom-footer {
  background: #062772 0% 0% no-repeat padding-box;
  border-radius: 20px 20px 0px 0px;
  color: white;
  font-size: 1.2em;
}

.bottom-footer .container {
  margin-top: 1em;
}

.bottom-footer nav {
  padding: 1em 0;
}

.bottom-nav {
  padding: 0;
  width: 100%;
}

.bottom-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav{
  display: flex;
  width: 60%;
}
.bottom-nav li {
  padding-right: 2em;
}

#article-title {
  text-align: center;
  margin: 1.5em 0 1em 0;
}

.article-image {
  width: 100%;
}

.article-author,
.article-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
}

.article-author i {
  background-color: #eee;
  color: #999;
  padding: 0.8em 1em;
  border-radius: 50%;
  font-size: 0.7em;
}

.article-info {
  margin: 1em 0;
  color: #717171;
  font-style: italic;
}

.card:hover {
  transform: scale(1.005);
  z-index: 1000;
  box-shadow: 3px 3px 16px#555;
}
@media (max-width: 1000px) {
  .top-logo {
    left: 15px;
    padding: 0.5em;
    width: 15em;
    height: 5em;
  }
}
/* @media only screen and (max-width: 450px) {
  .nav {
    padding-right: 1em;
    height: 3vh !important;
  }

  .card {
    margin: 1em;
  }
  .get-in-touch {
    display: block;
    margin: 0 auto;
  }
  .main-footer .row {
    text-align: center;
  }
  .main-footer .row > .col-md:nth-of-type(2) {
    margin-left: 0 !important;
  }
  .bottom-footer {
    text-align: center;
  }
  .line {
    margin: 0 auto;
  }
  .top-logo {
    width: 60%;
    height: 8%;
  }
  .top-logo h3 {
    font-size: 25px;
  }

  .navbar-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-basis: auto;
  }
  .top-search {
    margin: 0;
  }
} */

@media (min-width: 1281px) {   

  }
/*   ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px*/
@media (min-width: 1025px) and (max-width: 1280px) {  

  }
/*   ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) {  
    .nav{
      height: 7vh;
    }
    .navbar-nav{
      flex-direction: row;
      height: 7rem;


      position: relative;
      align-items: flex-end !important;
      justify-content: space-around !important;
    }
    .top-search{
      position: absolute;
      top: 0rem;
      width: 100%;
      right: 0rem;
      margin: 0;
    }
    .card{
      min-width: 40%;
      margin-left: 0 !important;

    }
    .card-resp{
      margin-top: 2rem;
    }

   
    .footer__logo{
     width: 14rem;
    }
    .footer__info-content{
      flex: 100%;
      max-width: 100%;
    }

    .footer__nav{
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
    .footer__link{

      margin-left: 1rem !important;
      font-size: .7rem;
    }

  }
/*   ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {  

  }
/*   ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px*/
@media (min-width: 481px) and (max-width: 767px) {  
  .nav{
    height: 7vh;
  }
  .navbar-nav{
    flex-direction: row;
    height: 7rem;


    position: relative;
    align-items: flex-end !important;
    justify-content: space-around !important;
  }
  .top-search{
    position: absolute;
    top: 0rem;
    width: 100%;
    right: 0rem;
    margin: 0;
  }
  .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 2rem;
  }
  .get-in-touch{
    display: block;
    align-self: center;
  }

  
  
  .footer__nav{
    display: flex;
    width: 120%;
    justify-content: space-around;
  }
  .footer__link{
    width: 40%;
    margin-left: 1rem !important;
  }
  .bold{
    font-size: 1.3rem;
  }
  .bottom-footer{
    font-size: 1rem;
  }
}
/*   ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px*/
@media (min-width: 320px) and (max-width: 480px) {  
  .nav{
    height: 5vh;
  }
  .navbar-nav{
    flex-direction: row;
    height: 7rem;
    font-size: 1rem;


    position: relative;
    align-items: flex-end !important;
    justify-content: space-around !important;
  }
  .top-search{
    position: absolute;
    top: 0rem;
    width: 100%;
    right: 0rem;
    margin: 0;
  }
  .card {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 2rem;
  }
  .get-in-touch{
    display: block;
    align-self: center;
  }

  .footer__logo{
    width: 16rem;
   }

  
  
  .footer__nav{
    display: flex;
    width: 120%;
    justify-content: space-around;
  }
  .footer__link{
    width: 40%;
    margin-left: 1rem !important;
    font-size: .7rem;
  }
  .bold{
    font-size: .7rem;
  }
  .bottom-footer{
    font-size: 1rem;
  }
  .bottom-nav{
    height: 6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
  }
  .copyright{
    font-size: .7rem;
    grid-column: 1 / -1;
    align-self: center !important;
    margin: 0 !important;
    
  }
  .scrollmenu {
    display: flex;
    width: 100%;
    overflow: auto;
    white-space: nowrap;
  }

  .top-logo{
    width: 10rem;
    height: 3.5rem;
  }
  .top__logo-heading{
    font-size: 1rem;
  }
  .nav{
    font-size: .7rem;
  }

  .article-row{
    padding: 1rem;
  }

}